<style>
    @keyframes moverBotao {
        0% {
            left: 0;
            background-color: blue;
        }

        50% {
            background-color: yellow;
        }

        100% {
            left: 300px;
            background-color: green;
        }
    }

    .botao {
        position: relative;
        padding: 15px 30px;
        font-size: 18px;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;

        animation: moverBotao 3s infinite alternate;
    }
